body{
    margin:0;
    padding: 0;
    background-color: #96c1f8;
}

header{
    height: 100px;
}

section{
    background-image:url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
}

footer{
    height: 250px;
    background-color: #5ee1e6;
}

#bateau{
    transform: translate(0, 340px);
    animation-duration: 8s;
    animation-name: move;
    animation-fill-mode: forwards;
}

@keyframes move{
    from{
        transform: translate(0, 340px);
    }
    to{
        transform: translate(800px, 340px);
    }
}

h1{
    color: white;
    text-align: center;
}

section div{
    height: 100px;
    width: 100px;
    background-color:  #80CEE1;
    margin: 5px;
}

section div:nth-of-type(3){
    background-color: gray;
}

section div:hover{
    border-radius: 50%;
    transform: rotate(360deg);
    transition: 0.5s;
}

#tresor{
    cursor: grab;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer p{
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

footer strong{
    font-weight: normal;
}

footer img{
    height: 64px;
    width: 64px;
}
